<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:replace="common/header :: common-header"/>

<body>

	<div th:replace="common/header :: navbar"/>

        <!-- Breadcrumbs Area Start -->
        <div class="breadcrumbs-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    <div class="breadcrumbs">
					       <h2>LOGIN/REGISTER</h2> 
					       <ul class="breadcrumbs-list">
						        <li>
						            <a title="Return to Home" th:href="@{/}">Home</a>
						        </li>
						        <li>Login</li>
						    </ul>
					    </div>	
					</div>
				</div>
			</div>
		</div> 
        <!-- Breadcrumbs Area Start --> 
        

        <!-- Loging Area Start -->
        <div class="login-account section-padding">
           <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-10">
                        <form action="#" class="create-account-form" method="post">
                            <h2 class="heading-title">
                                Create an account
                            </h2>
                            
							<p class="form-row">
                                <input type="text" name="username" placeholder="User Name">
                            </p>
                            
                            <p class="form-row">
                                <input type="email" name="email" placeholder="Email address">
                            </p>
                            
                            <div class="submit">					
                                <button type="submit" class="btn-default">
                                    <span>
                                        <i class="fa fa-user left"></i>
                                        SIGN UP
                                    </span>
                                </button>
                            </div>
                            
                            <br>
                            
                           	<p class="lost-password form-group">
                                <a th:href="@{/login}" rel="nofollow">Already have an account?</a>
                            </p> 
                            
                        </form>
                    </div>
                    
                </div>               
           </div>
        </div>
        <!-- Loging Area End -->

        
        <footer th:replace="common/header :: common-footer"/>

		<div th:replace="common/header::body-bottom-scripts"/>

</body>
</html>